{% extends 'info/base.html' %}
{% load static %}
{% block title %}Total Cases{% endblock title %}

<!-- Header -->
{% block header %}
{% include 'home/navbar.html' %}
{% endblock  %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center info my-5 py-4">
                <h1>COVID-19 Cases in Indonesia</h1>
                <hr>
            </div>
        </div>
        <p>Search by Province:</p>
        <div class="input-group mb-3">
            <input id="search-province" type="text" class="form-control" placeholder="Search Province" name="q">
        </div>
        <div class="table-responsive">
            <table id="display-province" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Provinsi</th>
                        <th>Kasus Positif</th>
                        <th>Kasus Sembuh</th>
                        <th>Kasus Meninggal</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(() => {

                // Fungsi untuk meng-generate setiap buku nya.
                const createRow = (dataOfProvince) => {
                    const HTMLText =
                        `
                        <tr>
                            <td>${dataOfProvince['provinsi']}</td>
                            <td>${dataOfProvince['kasus_positif']}</td>
                            <td>${dataOfProvince['kasus_sembuh']}</td>
                            <td>${dataOfProvince['kasus_meninggal']}</td>
                        </tr>`
                    return HTMLText;    
                }

                const search_province = () => {
                    let province = $('#search-province').val();
                    // console.log(province)
                    if (province === '') province = 'a';
                    const UrlLink = '/info/search_cases/' + province;
                    $.ajax({
                        url: UrlLink,
                        success: function (data) {
                            let cases = data.kasus;
                            $('tbody').empty()
                            for (let i = 0; i < cases.length; i++) {
                                const dataOfProvince = {
                                    provinsi: cases[i]['provinsi'],
                                    kasus_positif: cases[i]['kasus_positif'],
                                    kasus_sembuh: cases[i]['kasus_sembuh'],
                                    kasus_meninggal: cases[i]['kasus_meninggal']
                                }
                                const HTMLText = createRow(dataOfProvince);
                                $('tbody').append(HTMLText);
                            } 
                        }
                    })
                }
                search_province();
                $('#search-province').keyup(() => {
                    search_province();
                })
            });
    </script>
{% endblock content %}