{% extends 'info/base.html' %}
{% load static %}
{% block title %}Hospitals{% endblock title %}
<!-- Header -->
{% block header %}
{% include 'home/navbar.html' %}
{% endblock  %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center info my-5 py-4">
            <h1>Special Hospitals for COVID-19 Patients</h1>
            <hr>
        </div>
    </div>
    <p>Search by Province:</p>
    <div class="input-group mb-3">
        <input id="search-province" type="text" class="form-control" placeholder="Search Province" name="q">
    </div>
    <div class="table-reponsive">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Province</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Region</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(() => {

            // Fungsi untuk meng-generate setiap buku nya.
            const createRow = (dataHospitals) => {
                const HTMLText =
                    `
                    <tr>
                        <td>${dataHospitals['rs']}</td>
                        <td>${dataHospitals['provinsi']}</td>
                        <td>${dataHospitals['alamat']}</td>
                        <td>${dataHospitals['nomor_telepon']}</td>
                        <td>${dataHospitals['region']}</td>
                    </tr>`
                return HTMLText;
            }

            const search_hospitals = () => {
                let province = $('#search-province').val();
                // console.log(province)
                if (province === '') province = 'a';
                const UrlLink = '/info/search_hospitals/' + province;
                $.ajax({
                    url: UrlLink,
                    success: function (data) {
                        let hospitals = data.rs;
                        $('tbody').empty()
                        for (let i = 0; i < hospitals.length; i++) {
                            const dataHospitals = {
                                rs: !hospitals[i].rumah_sakit ? "Unknown" : hospitals[i].rumah_sakit,
                                alamat: !hospitals[i].alamat ? "Unknown" : hospitals[i].alamat,
                                region: !hospitals[i].region ? "Unknown" : hospitals[i].region,
                                nomor_telepon: !hospitals[i].nomor_telepon ? "Unknown" : hospitals[i].nomor_telepon,
                                provinsi: !hospitals[i].provinsi ? "Unknown" : hospitals[i].provinsi,
                            }
                            const HTMLText = createRow(dataHospitals);
                            $('tbody').append(HTMLText);
                        }
                    }
                })
            }
            search_hospitals();
            $('#search-province').keyup(() => {
                search_hospitals();
            })
        });
</script>
{% endblock content %}