{% load static %}
<!--Footer section-->
<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">
        ©2020 Kelompok B15, All Rights Reserved
    </div>
</footer>
