{% load static %}
<!--Header section-->
<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar">
        <div class="container">
            <!--Navbar brand-->
            <a class="navbar-brand font-weight-bold flex" href="{% url 'home:index' %}"><img src="https://img.icons8.com/fluent/48/000000/virus.png" /><span class="pt-2 pl-1">CORONA FORM</span></a>

            <!--Collapse button if we shrink to smaller screen-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav ml-auto smooth-scroll">
                    <li class="nav-item">
                        
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle font-weight-bold" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Patient
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'form:form' %}">Form</a>
                            <a class="dropdown-item" href="{% url 'form:patient_list' %}">List</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{% url 'article:index' %}">Article</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{% url 'news:index' %}">News</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle font-weight-bold" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            COVID Info
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'info:info' %}">Total Cases</a>
                            <a class="dropdown-item" href="{% url 'info:daftar_rumah_sakit' %}">Hospital List</a>
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{% url 'login_register:login' %}">{{user.username}} (Login)</a>
                    </li>
                    {% else %} 
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{% url 'login_register:login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>