{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{% static 'article/style.css' %}" />
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="{% static 'article/script.js' %}" defer></script>
  <title>{{ page_title }}</title>
</head>

<body>
  <!-- Header -->
  {% include "home/navbar.html" %}

  <div class="content">
    {% block content %}
    {% endblock content %}

    <!-- Footer -->
      {% include "home/footer.html" %}
  </div>
</body>

</html>