{% extends 'article/base.html' %}

{% block content  %}
<script defer>$(document).ready(() => {loadArticle(undefined,'all')})</script>
<h1>Article Terbaru Corona</h1>
{% if user.is_authenticated %}
<h4><a class="btn btn-primary" href="{% url 'article:register' %}">Daftarkan Artikelmu</a></h4>
<h4><a class="btn btn-primary" href="{% url 'article:register_tags' %}">Daftarkan Tags Artikelmu</a></h4>
{% endif %}

<div class="article"></div>
{% endblock  %}