{% extends 'article/base.html' %}

{% block content  %}
<h1> Register Article Tags </h1>
<div>
  <form method="POST">
    {% csrf_token %}
    {{ form_tags.as_p }}
    <input class="btn" type="submit" value="Submit" />
  </form>
</div>

{% endblock  %}