{% extends 'article/base.html' %}

{% block content  %}
<h1> Register Article </h1>
<div>
  <form method="POST">
    <table>
      {% csrf_token %}
      {{ form_article.as_table }}
      <!-- {{ form_tags.as_table }} -->
    </table>
    <input class="btn" type="submit" value="Submit" />
  </form>
</div>

{% endblock  %}