{% extends 'article/base.html' %}

{% block content  %}
<h1>Article Berdasarkan</h1>
<script defer>$(document).ready(() => {loadArticle('{{ name }}', 'tags' )})</script>


<div class="article"></div>
{% endblock  %}