{% extends 'news/base.html' %}
{% load static %}
{% load widget_tweaks %}
<!-- Title -->
{% block head %}
<title>Lapor Hoax | Form Corona</title>
{% endblock head %}
<!-- Header -->
{% block style %}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap"rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/news-ui.css' %}" />
{% endblock style %}
<!-- Content -->
{% block content %}
<div class="container pt-10 my-12 mx-auto px-4 md:px-12">

    {% if success %}
    <div class="alert alert-success">
        <strong>Laporan anda berhasil disimpan!</strong>
    </div>
    {% endif %}


    <div class="mx-auto container max-w-2xl md:w-3/4 shadow-md">
        <div class="p-4 text-3xl text-center">
            <div class="max-w-sm mx-auto md:w-full md:mx-0">
                <div class="inline-flex items-center space-x-4 ">
                    <h1 class="text-gray-600">Lapor Hoax</h1>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="bg-gray-100 p-4 border-t-2 bg-opacity-5 border-green-400 rounded-t text-center">
            <div class="max-w-sm mx-auto md:w-full md:mx-0">
                <div class="inline-flex items-center space-x-4">
                    <h1 class="text-gray-600">Melapor sebagai:</h1>
                </div>
                <div class="inline-flex items-center space-x-4">
                    <h1 class="text-gray-600 font-bold">{{ user.username }} ({{ user.email }})</h1>
                </div>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="bg-white space-y-6">
                <div class="md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-500 items-center">
                    <h2 class="md:w-1/3 max-w-sm mx-auto">Judul laporan</h2>
                    <div class="md:w-2/3 max-w-sm mx-auto">
                        <div class="w-full inline-flex border">
                            {% render_field form.judul class+="w-11/12 focus:outline-none focus:text-gray-600 p-2" placeholder="Disinformasi Vaksin" %}
                        </div>
                    </div>
                </div>
                <hr />
                <div class="md:inline-flex  space-y-4 md:space-y-0  w-full p-4 text-gray-500 items-center">
                    <h2 class="md:w-1/3 mx-auto max-w-sm">Data laporan</h2>
                    <div class="md:w-2/3 mx-auto max-w-sm space-y-5">
                        <div>
                            <label class="text-sm text-gray-400">URL Informasi Hoax</label>
                            <div class="w-full inline-flex border">
                                {% render_field form.url class+="w-11/12 focus:outline-none focus:text-gray-600 p-2" placeholder="www.example.com" %}
                            </div>
                            <label class="text-sm text-red-400">{{ form.url.errors }}</label>
                        </div>
                        <div>
                            <label class="text-sm text-gray-400">Bagian teks yang mengandung hoax/disinformasi</label>
                            <div class="w-full inline-flex border">
                            {% render_field form.text class+="w-11/12 focus:outline-none focus:text-gray-600 p-2" placeholder="Vaksin mengandung ..." %}
                            </div>
                            <label class="text-sm text-red-400">{{ form.text.errors }}</label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="md:inline-flex  space-y-4 md:space-y-0  w-full p-4 text-gray-500 items-center">
                    <h2 class="md:w-1/3 mx-auto max-w-sm">Pesan anda ke penyidik</h2>
                    <div class="md:w-2/3 mx-auto max-w-sm space-y-5">
                        <div>
                            <div class="w-full inline-flex border">
                                {% render_field form.message class+="w-11/12 focus:outline-none focus:text-gray-600 p-2" placeholder="Masukan informasi untuk mempermudah penyidikan" %}
                            </div>
                            <label class="text-sm text-red-400">{{ form.message.errors }}</label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="md:inline-flex w-full md:space-y-0 p-8 text-gray-500 items-center text-middle m-0">
                    <div class="md:w-3/12 text-center md:pl-6 m-auto">
                    <input type="submit" value="Lapor" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-green-500 rounded shadow ripple hover:shadow-lg hover:bg-green-600 focus:outline-none">
                    </div>
                </div>
            </div>
        </form>
        {% else %}
        <div class="bg-gray-100 p-4 border-t-2 bg-opacity-5 border-green-400 rounded-t text-center">
            <div class="max-w-sm mx-auto md:w-full md:mx-0">
                <div class="inline-flex items-center space-x-4">
                    <h1 class="text-gray-600">Anda belum login,</h1>
                </div>
                <div class="inline-flex items-center space-x-4">
                    <h1 class="text-gray-600 font-bold"><a href={% url 'login_register:login' %}>klik disini untuk login</a></h1>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block script_foot %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
</script>
{% endblock script_foot %}
