{% extends 'news/base.html' %}
{% load static %}

{% block head %}
<title>News | Form Corona</title>
{% endblock head %}

{% block style %}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap"rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/news-ui.css' %}" />
{% endblock style %}

{% block script_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
{% endblock script_head %}

{% block content %}


{% comment %} {% if news %} {% endcomment %}
<div class="container pt-10 my-12 mx-auto px-4 md:px-12">
  <div id="news-box" class="flex flex-wrap -mx-1 lg:-mx-4 m-auto">

  {% comment %} {% for i in news %}
  <div class="content-center my-1 px-1 w-full m-auto max-w-xl md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
    <div id={{ i.id }} class="transform hover:-translate-y-2 duration-500 ease-in-out -full md:w-3/3 p-6 flex flex-col flex-grow flex-shrink">
      <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
        <a href={{ i.url }} target="_blank">
        {% if i.img %}
          <img src={{ i.img }} class="object-cover h-full w-full rounded-t">
        {% endif %}
          <p class="w-full text-gray-600 text-xs md:text-sm pt-6 px-6">{{ i.outlet }}</p>
          <div class="w-full font-bold text-xl text-gray-900 px-6">{{ i.title }}</div>
        {% if i.description %}
          <p class="text-gray-800 mt-3 font-serif text-base px-6 mb-5">{{ i.description }}</p>
        {% endif %}
        </a>
      </div>
    </div>
  </div>
  {% endfor %} {% endcomment %}
  </div>
</div>
{% comment %} {% else %}
  <h3>Something is wrong. There's no news :(</h3>
{% endif %} {% endcomment %}
<a href={% url "news:hoax" %} target="_blank">
  <button class="learn-more fixed bottom-0 left-0 m-5 focus:outline-none">
      <span class="circle" aria-hidden="true">
        <i class="icon arrow"></i>
      </span>
      <span class="button-text">Lapor Hoax</span>
  </button>
</a>

<button id="back-to-top" class="learn-more fixed bottom-20 left-0 m-5 focus:outline-none">
      <span class="circle noani" aria-hidden="true">
        <i class="icon arrow top"></i>
      </span>
  </button>
{% endblock %}

{% block script_foot %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src={% static 'js/script.js' %} type="text/javascript"></script>
{% endblock script_foot %}
