{% extends 'form/base.html' %}
{% load static %}
{% block title %}Patient Details{% endblock title %}

<!-- Header -->
{% block header %}
{% include 'home/navbar.html' %}
{% endblock  %}

{% block content %}
    <div class="container pt-10 my-12 mx-auto px-4 md:px-12">
        <div class="mx-auto container max-w-7xl md:w-3/4 shadow-md">
            <div class="p-4 text-3xl text-center">
                <div class="max-w-sm mx-auto md:w-full md:mx-0">
                    <div class="inline-flex items-center space-x-4 ">
                        <h1 class="text-gray-600">Patient Details</h1>
                    </div>
                </div>
            </div>
            <div class="bg-gray-100 p-4 border-t-2 bg-opacity-5 border-green-400 rounded-t text-center"></div>
                <div class="container pb-4">
                    <h3 class="display-4">{{ patient.name }} <span class="lead">#<span id="patient-id">{{ patient.id }}</span></span></h3>
                    <div class="row">
                        <div class="col">
                            <table class="table table-borderless w-auto">
                                <tbody>
                                    <tr>
                                        <th>Age:</th>
                                        <td>{{ patient.age }}</td>
                                    </tr>
                                    <tr>
                                        <th>Sex:</th>
                                        <td>{{ patient.sex }}</td>
                                    </tr>
                                    <tr>
                                        <th>Job:</th>
                                        <td>{{ patient.job }}</td>
                                    </tr>
                                    <tr>
                                        <th>City:</th>
                                        <td>{{ patient.city }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col">
                            <table class="table table-borderless w-auto">
                                <tbody>
                                    <tr>
                                        <th>Province:</th>
                                        <td>{{ patient.province }}</td>
                                    </tr>
                                    <tr>
                                        <th>Medical History:</th>
                                        <td>{{ patient.medical_history }}</td>
                                    </tr>
                                    <tr>
                                        <th>Education:</th>
                                        <td>{{ patient.education }}</td>
                                    </tr>
                                    <tr>
                                        <th>Symptoms:</th>
                                        <td>{{ patient.symptoms }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container pb-4">
                    <h2 class="text-2xl">Case List</h2>
                    <button id="add-case" class="btn btn-warning my-3" role="button">Add Case</button>
                    <br>
                    <table id="case-table" class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 23%">Date Recorded</th>
                                <th scope="col" style="width: 15%">Time</th>
                                <th scope="col" style="width: 31%">Hospital</th>
                                <th scope="col" style="width: 31%">Doctor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for case in cases %}
                                {% if case.patient_id == patient.id %}
                                    <tr>
                                        <td>{{ case.date }}</td>
                                        <td>{{ case.time }}</td>
                                        <td>{{ case.hospital }}</td>
                                        <td>{{ case.doctor }}</td>
                                    </tr>
                                {% endif %}
                                {% if isEmpty %}
                                    <tr><td colspan="4">Empty</td></tr>
                                {% endif %}
                            {% endfor %}
                            <tr id="blank-row"></tr>
                            <tr id="input-row">
                                <td><input type="date" class="form-control" id="date-picker"></td>
                                <td><input type="time" class="form-control" id="time-picker"></td>
                                <td><input type="text" class="form-control" id="hospital-input"></td>
                                <td><input type="text" class="form-control" id="doctor-input"></td>
                            </tr>
                            <tr id="save-row">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="right"><button id="save-case" class="btn btn-info" role="button">Save</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-outline-primary mt-4" href="{% url 'form:patient_list' %}" role="button">BACK</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}