{% extends 'form/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Title -->
{% block title %}Form{% endblock title %}

<!-- Header -->
{% block header %}
    {% include 'home/navbar.html' %}
{% endblock %}

<!-- Content -->
{% block content %}
    <div class="container pt-10 my-12 mx-auto px-4 md:px-12">
        <div class="mx-auto container max-w-7xl md:w-3/4 shadow-md">
            <div class="p-4 text-3xl text-center">
                <div class="max-w-sm mx-auto md:w-full md:mx-0">
                    <div class="inline-flex items-center space-x-4 ">
                        <h1 class="text-gray-600">Patient Form</h1>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="bg-gray-100 p-4 border-t-2 bg-opacity-5 border-green-400 rounded-t text-center">
                    <div class="max-w-sm mx-auto md:w-full md:mx-0">
                        <div class="inline-flex items-center space-x-4">
                            <h1 class="text-gray-600">Silakan isi form data pasien di bawah ini.</h1>
                        </div>
                    </div>
                </div>
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form.city|as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form.province|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            {{ form.age|as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form.sex|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.medical_history|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.job|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.education|as_crispy_field }}
                        </div>
                    </div>
                    {{ form.symptoms|as_crispy_field }}
                    <div class="p-2 bg-opacity-5 rounded-t text-center">
                        <div class="max-w-sm mx-auto md:w-full md:mx-0">
                            <input type="submit" value="Simpan" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-green-500 rounded shadow ripple hover:shadow-lg hover:bg-green-600 focus:outline-none">
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="bg-gray-100 p-4 border-t-2 bg-opacity-5 border-green-400 rounded-t text-center">
                    <div class="max-w-sm mx-auto md:w-full md:mx-0">
                        <div class="inline-flex items-center space-x-4">
                            <h1 class="text-gray-600">Anda belum login,</h1>
                        </div>
                        <div class="inline-flex items-center space-x-4">
                            <h1 class="text-gray-600 font-bold"><a href="{% url 'login_register:login' %}">klik disini untuk login</a>
                            </h1>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}