{% extends 'form/base.html' %}
{% load static %}
{% block title %}Patient List{% endblock title %}

<!-- Header -->
{% block header %}
{% include 'home/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container pt-10 my-12 mx-auto px-4 md:px-12">
        <div class="mx-auto container max-w-7xl md:w-3/4 shadow-md">
            <div class="p-4 text-3xl text-center">
                <div class="max-w-sm mx-auto md:w-full md:mx-0">
                    <div class="inline-flex items-center space-x-4">
                        <h1 class="text-gray-600">Patient List</h1>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="bg-gray-100 p-4 border-t-2 bg-opacity-5 border-green-400 rounded-t text-right">
                    <div class="inline-flex items-center space-x-4">
                        <select id="field-selector" class="form-control">
                            <option value="name">Name</option>
                            <option value="age">Age</option>
                            <option value="sex">Sex</option>
                            <option value="job">Job</option>
                            <option value="city">City</option>
                            <option value="province">Province</option>
                            <option value="medical_history">Medical history</option>
                            <option value="education">Education</option>
                            <option value="symptoms">Symptoms</option>
                        </select>
                        <input id="search-bar" class="w-full h-10 px-3 text-base text-gray-700 placeholder-gray-600 border rounded-lg focus:shadow-outline" type="text" placeholder="Search"/>                        
                    </div>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                <div id="list-container" class="container">
                    {% for patient in patients %}
                        <div class="pb-4 bg-opacity-5 rounded-t">
                            <div class="card mt-3">
                                <div class="card-body d-flex justify-content-between flex-column flex-md-row">
                                    <div>
                                        <a href="{% url 'form:patient_details' patient.id %}">
                                            <h5 class="card-title">{{ patient.name }}</h5>
                                        </a>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ patient.age }} ({{ patient.sex }})</h6>
                                    </div>
                                    <form action="{% url 'form:delete_patient' patient.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-danger card-link mt-2 mr-md-4 align-self-center" type="input">
                                            DELETE
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if is_empty %}
                    <div class="p-4 bg-opacity-5 rounded-t text-center">
                        <div class="max-w-sm mx-auto md:w-full md:mx-0">
                            <p class="lead">Pasien kosong. Silakan isi form untuk menambah pasien.</p>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="bg-gray-100 p-4 border-t-2 bg-opacity-5 border-green-400 rounded-t text-center">
                    <div class="max-w-sm mx-auto md:w-full md:mx-0">
                        <div class="inline-flex items-center space-x-4">
                            <h1 class="text-gray-600">Anda belum login,</h1>
                        </div>
                        <div class="inline-flex items-center space-x-4">
                            <h1 class="text-gray-600 font-bold"><a href="{% url 'login_register:login' %}">klik disini untuk login</a>
                            </h1>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}