{% extends 'form/base.html' %}
{% load static %}

<!-- Title -->
{% block title %}Success!{% endblock title %}

<!-- Header -->
{% block header %}
    {% include 'home/navbar.html' %}
{% endblock  %}

<!-- Content -->
{% block content %}
    <div class="container pt-10 my-12 mx-auto px-4 md:px-12">
        <div class="mx-auto container max-w-7xl md:w-3/4 shadow-md">
            <div class="p-4 text-3xl text-center">
                <div class="max-w-sm mx-auto md:w-full md:mx-0">
                    <div class="inline-flex items-center space-x-4 ">
                        <h1 class="text-gray-600">FORM SAVED!</h1>
                    </div>
                </div>
            </div>
            <div class="bg-gray-100 p-4 border-t-2 bg-opacity-5 border-green-400 rounded-t text-center">
                <div class="max-w-sm mx-auto md:w-full md:mx-0">
                    <div class="inline-flex items-center space-x-4">
                        <a class="btn btn-success btn-xl my-4" href="{% url 'home:index' %}">Go Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
