body {
  background: -webkit-linear-gradient(bottom, #61ac27, #488558);
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  font-weight: 500;
}

.login-container,
.signup {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 450px;
  margin: 6rem auto 8.1rem auto;
  width: 330px;
}

.login-content,
.signup-content {
  padding: 10px 40px;
}

.login-title,
.signup-title {
  letter-spacing: 4px;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}

.underline-title {
  background: -webkit-linear-gradient(right,#61ac27, #488558);
  height: 2px;
  margin: 1rem auto;
  width: 50%;
}

.btn-class {
  background: -webkit-linear-gradient(right,#61ac27, #488558);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 1px 8px #61ac27;
  cursor: pointer;
  color: white;
  height: 45px;
  margin: 0 20%;
  margin-top: 20px;
  transition: 0.25s;
  width: 150px;
}

.btn-class:hover {
  box-shadow: 0px 1px 18px #488558;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-color: #488558;
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: 0px;
  color: #495057;
  height: auto;
  background-color: #ffffff;
  background-clip: padding-box;
}

.form-control:focus {
  color: #495057;
  background-color: #ffffff;
  border-color: #ffffff;
  outline: 0;
  box-shadow: none;
}

.requiredField {
  font-weight: 600;
  font-size: 1rem;
}

/* 
Signup page
 */
.content {
  margin: 8%;
  background-color: #ffffff;
  padding: 4rem 1rem 4rem 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

/* logout */
.logout-container {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 350px;
  margin: 6rem auto 8.1rem auto;
  width: 330px;
}
