{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css_tambahan %} <link rel="stylesheet" href="{% static 'login_register/css/styles.css' %}"> {% endblock css_tambahan %}
{% block title %}Login{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div class="logout-container">
    <div class="login-content">
        <div class="login-title">
            <h2 class="login-text mb-4">You've logged in.</h2>
            <div class="underline-title"></div>
        </div>
        <a class="btn btn-class" href="{% url 'home:index' %}">Back to home</a>
        <a class="btn btn-class" href="{% url 'login_register:logout' %}">Logout</a>
    </div>
</div>
{% else %}

<div class="login-container">
    <div class="login-content">
        <div class="login-title">
            <h2 class="login-text mb-4">Login</h2>
            <div class="underline-title"></div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-class" id="button-login">Login</button>
            <p class="my-3 mx-1">Don't have an account? <a href="{% url 'login_register:signup' %}">Sign Up</a></p>
        </form>
        <p style="color: red;">{{context.message}}</p>
    </div>
</div>
{% endif %}
{% endblock content %}