:root {
  --margin: calc(50vw - 570px);
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.content {
  margin:100px var(--margin) 0;
}
.article{
  margin:0 0 100px
}

.thumbnail {
  width: 200px;
  margin:1em 0;
}

.big-thumb{
  width: 500px;
}

.big {
  width: minmax(100%, var(--margin));
}

.child{
  padding:2em 0;
  border-bottom: 1px solid black;
}

.tags{
  background-color: #69c0ff;
  padding: 0.1em 0.5em;
  color:white
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 768px) {
  :root {
    --margin: 1.5em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  :root {
    --margin: 5em;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  :root {
    --margin: max(400px, calc(50vw - 550px));
  }
}